<div class='space-top'>
  <div class="info">
    <section class="card-holder">
      <div>
        <a href="">View cv</a>
        <span>mobile: +234 906 602 7359</span>
        <span>wokorosamuel@yahoo.com</span>
        <span><a href="https://stackoverflow.com/users/5554158/wokoro-douye-samuel">Stackoverflow</a></span>
        <span><a href="https://github.com:wokoro">Github</a></span>
        <span><a href="https://www.linkedin.com/in/douye-samuel-0068a812b/">Linkedin</a></span>
      </div>
    </section>
    </div>
</div>
