<div class='flex-display main-section'>
  <img src="../../assets/images/responsive-web-design.jpg" alt="" srcset="" class='back-img'>
  <div class="grouper">
    <div>
      <p class="greeting">Hello,</p>
      <p> Samuel here, I am a Backend web application developer</p>
      <p class="">Thanks for stopping by.</p>
    </div>
    <div class="info">
      <p class="stack-info">My stack/tools</p>
      <ul>
        <li>Nodejs</li>
        <li>PostgresSQL</li>
        <li>Sequelize</li>
        <li>Swqgger</li>
        <li>TDD</li>
        <li>CI/CD</li>
        <li>Agile Software Development</li>
      </ul>
    </div>
  </div>
</div>
