<mat-card class="card workflow">
  <mat-card-content class="description">
    <img class="ex_icon" src="../../assets/images/documentation_icon.png" alt="">
    <span class="pad-left">Code documentation</span>
  </mat-card-content>
  <mat-card-content class="description">
    <img class="ex_icon" src="../../assets/images/code_test.png" alt="">
    <span class="pad-left">Test coverage</span>
  </mat-card-content>
  <mat-card-content class="description">
    <img class="ex_icon" src="../../assets/images/ci_cd_icon.png" alt="">
    <span class="pad-left">CI/CD Integration</span>
  </mat-card-content>
  <mat-card-content class="description">
    <img class="ex_icon ex_width" src="../../assets/images/gitflow_icon.png" alt="">
    <span class="pad-left">Gitflow WorkFlow</span>
  </mat-card-content>
</mat-card>
